<div
  class="row m-0 footer justify-content-around align-items-center border-top"
>
  <div class="col-12 col-md-10 col-lg-8">
    <div class="row justify-content-around align-items-center">
      <a class="col-*" href="tel:+91 7639877734" target="_blank"
        ><img class="col-* logo" src="./../../../assets/whatsapp.png"
      /></a>
      <a
        class="col-*"
        href="https://www.linkedin.com/in/nishanthshanmuganathan"
        target="_blank"
      >
        <img class="col-* logo-big" src="./../../../assets/linkedin.ico"
      /></a>
      <a
        class="col-*"
        href="https://github.com/Nishanth-Shanmuganathan"
        target="_blank"
        ><img class="col-* logo" src="./../../../assets/github.png"
      /></a>
      <a
        class="col-*"
        href="mailto:nishanth.shanmuganathan05@gmail.com"
        target="_blank"
        ><img class="col-* logo" src="./../../../assets/gmail.ico"
      /></a>
    </div>
  </div>
</div>
