<div class="row justify-content-center align-items-center border-bottom mt-5">
  <div class="col-12 mb-4">
    <span class="head">Frontend Technologies</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/html.jpg" alt="html" />
    <span class="bg-black">HTML</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/css.webp" alt="html" />
    <span class="bg-black">CSS</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/js.webp" alt="html" />
    <span class="bg-black">Javascript</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/bootstrap.webp" alt="html" />
    <span class="bg-black">Bootstrap</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/angular.webp" alt="html" />
    <span class="bg-black">Angular</span>
  </div>
</div>
<div class="row justify-content-center align-items-center border-bottom mt-5">
  <div class="col-12 mb-4">
    <span class="head">Backend Technologies</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/node.webp" alt="html" />
    <span class="bg-black">NodeJS</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/express.png" alt="html" />
    <span class="bg-black">Express</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/rest.png" alt="html" />
    <span class="bg-black">REST API</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/mongo.webp" alt="html" />
    <span class="bg-black">MongoDB</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/mongoose.jpg" alt="html" />
    <span class="bg-black">Mongoose</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/firebase.png" alt="html" />
    <span class="bg-black">Firebase</span>
  </div>
</div>
<div class="row justify-content-center align-items-center border-bottom mt-5">
  <div class="col-12 mb-4">
    <span class="head">Version Control</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/git.png" alt="html" />
    <span class="bg-black">Git</span>
  </div>
</div>
<div class="row justify-content-center align-items-center border-bottom mt-5">
  <div class="col-12 mb-4">
    <span class="head">Deployment Platforms</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/heroku.png" alt="html" />
    <span class="bg-black">Heroku</span>
  </div>
  <div
    class="col-* cont_next d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/firebase.png" alt="html" />
    <span class="bg-black">Firebase</span>
  </div>
  <div
    class="col-* cont d-flex flex-column justify-content-center align-items-center m-2 m-md-5 p-3"
  >
    <img src="../../../assets/s3.png" alt="html" />
    <span class="bg-black">Amazon S3</span>
  </div>
</div>
<div class="row justify-content-center justify-content-sm-end mt-4 pr-5 pl-5">
  <div class="col-* mr-3">
    <button mat-raised-button class="bg-black" [routerLink]="['skills']">
      <span>Next</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
