<div class="row justify-content-start p-sm-3 m-sm-3">
  <div class="col-* p-2 p-md-4 m-3 card">
    <span
      >Pursuing Bachelor Of Technology In Kongu Engineering College, Erode with
      CGPA of 7.3.</span
    >
  </div>
</div>
<div class="row justify-content-center p-sm-3 m-sm-3">
  <div class="col-* p-2 p-md-4 m-3 card">
    <span
      >Completed Higher Secondary in Cheran Matriculation Higher Secondary
      School, Karur with percentage of 85.8%.</span
    >
  </div>
</div>
<div class="row justify-content-end p-sm-3 m-sm-3">
  <div class="col-* p-2 p-md-4 m-3 card">
    <span
      >Completed SSLC in Cheran Matriculation Higher Secondary School, Karur
      with percentage of 98%.</span
    >
  </div>
</div>
<div
  class="row justify-content-center justify-content-sm-between mt-4 pr-5 pl-5"
>
  <div class="col-* mr-5">
    <button mat-raised-button class="bg-black" [routerLink]="['/']">
      <mat-icon>arrow_left</mat-icon>
      <span>Prev</span>
    </button>
  </div>
  <div class="col-* mr-3">
    <button mat-raised-button class="bg-black" [routerLink]="['skills']">
      <span>Next</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
