<div class="row justify-content-center p-4">
  <img class="col-* pic" src="./../../../assets/Nishanth.jpg" alt="" />
</div>
<div class="row justify-content-center">
  <span class="col-10 m-5 p-0 about">
    A final year student of Information Technology, striving to be the best
    full-stack developer.
  </span>
</div>
<div class="row justify-content-end pr-5 pl-5">
  <div class="col-* mr-5">
    <button mat-raised-button class="bg-black" [routerLink]="['academics']">
      <span>Next</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
