<div class="row mt-5 mb-3">
  <div class="col-12 head m-3">Projects</div>
</div>
<div class="row mt-2 mb-4 border-bottom justify-content-center">
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img mat-card-image src="./../../../assets/images/stock.jpg" />
      <mat-card-content>
        <p>
          Participated in <b>Flipr Hackathon 5.0</b> Full Stack Web Application
          Development contest conducted by Flipr.ai with Stock Market
          Application, a MEAN stack application.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="https://stock-market-nish.herokuapp.com/"
          target="_blank"
          >View Project</a
        >

        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/stock-market"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img
        class="pt-5 mt-5 mb-5 pb-3"
        mat-card-image
        src="./../../../assets/images/tasked.jpg"
      />
      <mat-card-content>
        <p>
          Participated in <b>Stackhack 1.0</b> Full Stack Application
          Development contest conducted by Hackerearth with Task Management
          Application, a MEAN stack application.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="https://tasked-hackerearth.herokuapp.com/"
          target="_blank"
          >View Project</a
        >

        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/Tasked"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row mt-5 mb-3">
  <div class="col-12 head m-3">Mini Projects / Work Samples</div>
</div>
<div
  class="row mt-2 mb-4 border-bottom justify-content-center align-items-stretch"
>
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img mat-card-image src="./../../../assets/images/hirer.png" />
      <mat-card-content>
        <p>
          Online platform that connects recruiters with candidates and addresses
          the issue of collecting the resumes of candidates efficiently and
          scheduling the interview timings which will be convenient to both the
          recruiter and the candidate.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="https://hirer.herokuapp.com/"
          target="_blank"
          >View Project</a
        >
        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/hirer"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img class="mt-5" mat-card-image src="./../../../assets/images/cg.jpg" />
      <mat-card-content>
        <p>
          Due to the corona pandemic situation, theatres have to follow social
          distancing while allotting seats to the customers. This application
          help the customers to book seats by following social distancing.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="https://cg-cinemas.herokuapp.com/"
          target="_blank"
          >View Project</a
        >
        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/Coda-Ticket-booking"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img
        class="recipe"
        mat-card-image
        src="./../../../assets/images/recipe.jpg"
      />
      <mat-card-content>
        <p>
          A frontend recipe app that show cases the recipes of a particular
          restaurant and its details to its customers.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="http://nishanth-receipe-app.s3-website.ap-south-1.amazonaws.com/"
          target="_blank"
          >View Project</a
        >
        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/cg-recipe-app"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row mt-5 mb-3">
  <div class="col-12 head m-3 p-0 p-sm-3">Projects under development</div>
</div>
<div class="row mt-2 mb-4 border-bottom justify-content-center">
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img
        class="mentor m-auto"
        mat-card-image
        src="./../../../assets/images/mentor-logo-dark.png"
      />
      <mat-card-content>
        <p>
          Participated in
          <b>Smart India Hackathon ( Internal Hackathon )</b> with Mentoring
          application that connects start-up companies with experienced mentors
          from whom the startups can get guidance and also include them within
          their projects.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="https://mentor-hub.herokuapp.com/"
          target="_blank"
          >View Project</a
        >

        <a
          mat-button
          class="bg-black"
          href="https://github.com/Nishanth-Shanmuganathan/Mentor"
          target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-* m-1 p-1 m-sm-3 p-sm-3">
    <mat-card class="d-flex flex-column justify-content-between">
      <img
        class="mt-3 mb-0"
        mat-card-image
        src="./../../../assets/images/logo.png"
      />
      <mat-card-content>
        <p>
          A simple website for a company borewell
          <b>SS Borewell Services</b> which basically to advertise them and to
          describe them in an elegant way.
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <a
          mat-button
          class="bg-black"
          href="http://ss-borewells.s3-website.ap-south-1.amazonaws.com/"
          target="_blank"
          >View Project</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div
  class="row justify-content-center justify-content-sm-between mt-4 pr-5 pl-5"
>
  <button
    mat-raised-button
    class="col-* m-1 bg-black"
    [routerLink]="['/', 'achievements']"
  >
    <mat-icon>arrow_left</mat-icon>
    <span>Prev</span>
  </button>
</div>
